.addbutton {
  float: right;
  margin-top: 50px !important;
  margin-right: 50px !important;
}

.filterButton {
  width: 100%;
  margin-bottom: 5%;
}

.header {
  width: 100%;
  margin-bottom: 5%;
}

.MuiAutocomplete-inputRoot .MuiAutocomplete-input {
  width: auto;
  min-width: 30px;
}
